{% extends 'base.html' %}
{% block content %}
<div class="container mt-4" style="max-width: 600px;">
    <div class="d-flex align-items-center mb-4">
        {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" class="rounded-circle" style="width: 80px; height: 80px; object-fit: cover;">
        {%else%}
        <img src="media/baseavatar.jpg" class="rounded-circle">
        {% endif %}
        {% if profile_user == user %}
        <a href="{% url 'edit_profile' %}" class="btn btn-secondary btn-sm">Edit Profile</a>
        {% endif %}
        <div class="ms-3">
            <h4>{{ profile.username }}</h4>
            <p class="text-muted">{{ profile.bio }}</p>
            <p>
                <strong>{{ profile.followers.count }}</strong> followers
                <strong>{{ profile_user.following.count }}</strong> follows
            </p>
            {% if profile_user != user %}
            <form method="post" >
                {% csrf_token %}
                {% if is_following %}
                <button class="btn btn-outline-danger btn-sm">Unfollow</button>
                {% else %}
                <button class="btn btn-primary btn-sm">Follow</button>
                {% endif %}
            </form>
            {% endif %}
        </div>
    </div>
    <h5>Posts:</h5>
    {% for post in posts %}
    <div class="mb-4">
        <p>{{ post.content }}</p>
        {% if post.image %}
        <img src="{{ post.image.url }}" class="img-fluid-rounded">
        {% endif %}
        <p class="text-muted" style="font-size: 14px;">{{ post.created_at|date:"d.m.Y H:i" }}</p>
    </div>
    {% empty %}
    <p>No posts yet</p>
    {% endfor %}
</div>
{% endblock %}