{% extends 'base.html' %}
{% block content %}
    <h3>Saved Posts by {{ saved_user.username }}</h3>
    <div class="container mt-4" style="max-width: 600px;">
        <!-- {% for saved in saved_posts %}
            <div class="card p-3 mb-3">
                <p style="color: white;"><strong style="color: rgb(83, 155, 161);">{{ saved.post.author.username }}</strong> - {{ saved.post.created_at|date:"d.m.Y H:i" }}</p>
                <p class="mb-1" style="color: white;">{{ saved.post.content }}</p>
                {% if saved.post.image %}
                    <img src="{{ saved.post.image.url }}" class="img-fluid">
                {% endif %}
            </div>
            {% empty %}
                <p class="text-muted" style="color: rgb(83, 155, 161);">No saved posts.</p>
        {% endfor %} -->
        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    <p style="color: rgb(223, 223, 223);">{{ post.content }}</p>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="img-fluid">
                    {% endif %}
                    <br>
                    <small style="color: rgb(107, 134, 135);">By {{ post.author.username }} | {{ post.created_at|date:"d.m.Y H:i" }}</small>
                </div>
            </div>
            <form action="{% url 'toggle_save' post.id %}" method="post" class="mt-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-outline-danger">Unsave</button>
            </form>
            {% empty %}
            <p class="text-muted">No saved posts.</p>
        {% endfor %}
        <p><strong><a href="{% url 'saved_posts' %}">Saved posts:</a></strong> {{ saved_count }}</p>
    </div>
{% endblock %}