body{
    background-color: var(--bg-color);
    font-family: 'Helvetica Neue', sans-serif;
}
.navbar{
    background-color: var(--bg-color);
    border-bottom: 1px solid #dbdbdb;
}
/* .post-card{
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
} */
.post-image{
    max-width: 100%;
    border-radius: 5px;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.post-header{
    display: flex; 
    align-items: center;
    margin-bottom: 10px;
}
.form-post{
    background-color: var(--bg-color);
    border: 1px solid #dbdbdb;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: rgb(83, 155, 161);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

a{
    color:#91cfff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.card{
    background-color: var(--bg-color);
    border: none;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.card img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
:root{
    --bg-color: #ffffff;
    --text-color: #000000;
}
body.light-mode{
    --bg-color: #ffffff;
    --text-color: #000000;
}
body.dark-mode{
    --bg-color: #ffffff;
    --text-color: #000000;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}