body{
    background-color: #fafafa;
    font-family: 'Helvetica Neue', sans-serif;
}
.navbar{
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
}
.post-card{
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}
.post-image{
    max-width: 100%;
    border-radius: 5px;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.post-header{
    display: flex; 
    align-items: center;
    margin-bottom: 10px;
}
.form-post{
    background-color: white;
    border: 1px solid #dbdbdb;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: rgb(83, 155, 161);
}

body{
    background-color: #121212;
    color: #e0e0e0;
}

a{
    color:#91cfff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.card{
    background-color: #1e1e1e;
    border: none;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.card img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}